/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a, a:active, a:hover, a:visited {
  text-decoration: none;
  color: inherit;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #4e595d;
  letter-spacing: 0;
  font-family: 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

a:hover {
  text-decoration: underline;
}

.wrapper {
  padding: 20px;
  overflow: hidden;
}

.image, .primaryInfo {
  float: left;
}

.image {
  width: 88px;
  margin-right: 20px;
}
.image img {
  vertical-align: bottom;
}

.primaryInfo {
  width: calc(100% - 108px);
}

.venueName {
  line-height: 30px;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -1px;
}

.categories a, .categories a:link, .categories a:visited, .categories a:active {
  color: inherit;
}

.address {
  color: #999;
}

a, a:link, a:visited, a:active {
  color: #2d5be3;
}
