@import "reset.scss";

@mixin display-flex() {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

@mixin flex-justify-content($value) {
  -webkit-justify-content: $value;
     -moz-justify-content: $value;
      -ms-justify-content: $value;
          justify-content: $value;
}

body {
  color: #4e595d;
  letter-spacing: 0;
  font-family: 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

a:hover {
  text-decoration: underline;
}

.wrapper {
  padding: 20px;
  overflow: hidden;
}

.venueInfo {
  overflow: hidden;
}

.image, .primaryInfo {
  float: left;
}

.image {
  width: 88px;
  margin-right: 20px;

  img {
    vertical-align: bottom;
  }
}

.primaryInfo {
  width: calc(100% - 108px);
  white-space: nowrap;
}

.venueLink {
  color: inherit !important;
  text-decoration: none !important;
  cursor: pointer;
}

.venueName {
  line-height: 30px;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -1px;
}

.categories {
  a, a:link, a:visited, a:active {
    color: inherit;
  }
}

.address {
  color: #999;
}

a, a:link, a:visited, a:active {
  color: #2d5be3;
}

.photos {
  margin-top: 10px;

  @include display-flex();
  @include flex-justify-content(space-between);

  &.hidden {
    display: none;
  }

  img {
    max-width: 150px;
    min-width: 150px;
    vertical-align: bottom;

    box-shadow: 1px 1px 1px #ccc;

    @include border-radius(3px);
  }
}