@import "reset.scss";

body {
  color: #4e595d;
  letter-spacing: 0;
  font-family: 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

a:hover {
  text-decoration: underline;
}

.wrapper {
  padding: 20px;
  overflow: hidden;
}

.image, .primaryInfo {
  float: left;
}

.image {
  width: 88px;
  margin-right: 20px;

  img {
    vertical-align: bottom;
  }
}

.primaryInfo {
  width: calc(100% - 108px);
}

.venueName {
  line-height: 30px;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -1px;
}

.categories {
  a, a:link, a:visited, a:active {
    color: inherit;
  }
}

.address {
  color: #999;
}

a, a:link, a:visited, a:active {
  color: #2d5be3;
}